$footerBGColor: #f5f5f5;
$logoColor: #414141;
$headerBGColor: lightgray;
$pageBGColor: white;
$footerNavColor: #464646;
$accentColor: #28dd72;
$minusOptionColor: #848484;
$menuColor: black;
$textColor: black;



 
